[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git 
[submodule "json"]
	path = json
	url = https://github.com/aardvarkk/json.git
[submodule "argh"]
	path = argh
	url = git@github.com:aardvarkk/argh.git
